<div class="страница-не-найдена">
    <div class="split-with-image-desktop">
        <div class="div">
            <div class="column">
                <div class="content">
                    <div class="main">
                        <div class="leading-content">
                            <div class="eyebrow">404 ОШИБКА</div>
                            <div class="heading">Страница не найдена</div>
                            <div class="text">
                                К сожалению, мы не смогли найти страницу, которую вы ищете
                            </div>
                        </div>
                        <a class="pages-text-link" (click)="backClicked()">Назад →</a>
                        <a class="pages-text-link" routerLink="/">На главную →</a>
                    </div>
                </div>
            </div>
            <div class="column-2">
                <img loading="lazy" src="/assets/img/image_404.png" class="img" />
            </div>
        </div>
    </div>
</div>