.conteiner-1 {
    margin: 100px 0px 100px 0px;
    display: grid;
    grid-template-columns: 620px 660px;
    height: 640px;
    border-radius: 50px;
    background-color: #e7fafe;
    margin-right: 60px;
}


.box-text-1 {
    margin: 50px 50px 50px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.box-text-2{
    display: flex;
      flex-direction: column;
      line-height: normal;

      margin-left: 20px;
}


.box-img-1 {
    width: 660px;
    height: 640px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.box-buton-1{
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}


.text-1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -2.4px;
}

.text-2 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 41px;
}

.text-3{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 9px 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.author{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buton-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.6);

    font-weight: 500;
}

.img{
    width: 660px;
    height: 640px;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    

}
.but{
    width: 140px;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--link-color, #3a3395);
    margin-top: 24px;
    color: var(--white, #fff);
    white-space: nowrap;
    padding: 9px 17px;
    font: 500 14px/143% Inter, sans-serif;
    float: right;
}