.страница-не-найдена {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .split-with-image-desktop {
    background-color: var(--white, #fff);
    width: 100%;
    padding-left: 32px;
  }
  .div {
    gap: 20px;
    display: flex;
  }

  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }

  .content {
    display: flex;
    min-height: 310px;
    flex-direction: column;
    align-self: stretch;
    font-family: Inter, sans-serif;

    margin: auto 0;
  }

  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 128px 32px;
  }
  .leading-content {
    display: flex;
    width: 100%;
    flex-direction: column;

  }
  .eyebrow {
    color: var(--link-color, #3a3395);
    font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.35px;
  text-transform: uppercase;
}

.heading {
  color: var(--gray-900, #111827);
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1.2px;
  margin-top: 8px;
}

.text {
    color: var(--gray-500, #6b7280);
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
  }


  .pages-text-link {
    align-self: stretch;
    margin-top: 24px;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    color: var(--link-color, #3a3395);
    font-weight: 500;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }

  .img {
    aspect-ratio: 0.7;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }

